@font-face {
    font-family: sahel;
    src:
        url("../fonts/Vazir.eot") format("embedded-opentype"),
        url("../fonts/Vazi.ttf") format("truetype"),
        url("../fonts/Vazir.woff") format("woff"),
        url("../fonts/Vazir.woff2") format("woff2");
}

body {
    font-family: Vazir, sans-serif !important;
}

html {
    font-family: Vazir, sans-serif !important;
}

.heading-primary {
    font-size: 6.6rem;
    font-weight: 100;
    color: var(--color-txt-primary);
}

.heading-secondary {
    font-size: 2rem;
    font-weight: 300;
    color: var(--color-txt-primary);
}

.title-secondary {
    position: relative;
    line-height: 3.2rem;

    &::before {
        content: "";
        position: absolute;
        right: -1rem;
        width: 0.5rem;
        border-radius: 2rem;
        height: 100%;
        background-color: var(--color-accent-1);
    }

    &__caption {
        font-size: 1.6rem;
        font-weight: 100;
        color: var(--color-txt-tertiary);
    }
}
