.btn {
    font-family: inherit;
    padding: 0.8rem 1.2rem;
    font-size: 1.6rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s;

    &-secondary {
        color: var(--color-accent-2);
        background-color: transparent;
        border: 2px solid var(--color-accent-2);

        &:hover {
            background-color: var(--color-accent-2);
            color: var(--color-white);

            svg {
                path,
                span {
                    fill: var(--color-white);
                }
            }
        }
    }

    &-tertiary {
        background-color: var(--color-accent-1);
        border: 2px solid transparent;

        &:hover {
            background-color: var(--color-white);
            color: var(--color-accent-1);
            border: 2px solid var(--color-accent-1);

            svg {
                path,
                span {
                    fill: var(--color-accent-1);
                }
            }
        }
    }

    &-quaternary {
        background-color: var(--color-white);
        border: none;
        color: var(--color-txt-primary);
        -webkit-box-shadow: -2px 3px 5px -3px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -2px 3px 5px -3px rgba(0, 0, 0, 0.75);
        box-shadow: -2px 3px 5px -3px rgba(0, 0, 0, 0.75);

        &:hover {
            transform: translateY(-0.5rem);
            -webkit-box-shadow: -2px 3px 18px -3px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: -2px 3px 18px -3px rgba(0, 0, 0, 0.75);
            box-shadow: -2px 3px 18px -3px rgba(0, 0, 0, 0.75);
        }

        &:active {
            transform: translateY(-0.2rem);
            -webkit-box-shadow: -2px 3px 11px -3px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: -2px 3px 11px -3px rgba(0, 0, 0, 0.75);
            box-shadow: -2px 3px 11px -3px rgba(0, 0, 0, 0.75);
        }
    }

    &:focus {
        outline: none;
    }

    &__icon {
        transition: fill 0.3s;
    }
}
