.nav {
    width: 100%;
    background-color: var(--color-white);
    padding: 3rem 15rem;

    @include responsive(big-desk) {
        padding: 3rem 8rem;
    }

    @include responsive(mid-desk) {
        padding: 3rem 3rem;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        width: 80%;
        height: 0.5rem;
        background-color: var(--color-accent-1);
    }

    &__logo {
        &--img {
            width: 14rem;

            @include responsive(mid-desk) {
                width: 10rem;
            }
        }
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--menu {
            &-list {
                list-style: none;
                display: flex;
                column-gap: 5rem;

                @include responsive(mid-desk) {
                    column-gap: 4.5rem;
                }
            }

            &-item {
                font-size: 2rem;
                cursor: pointer;
                font-weight: 200;
                position: relative;

                @include responsive(big-desk) {
                    font-size: 1.8rem;
                }

                @include responsive(mid-desk) {
                    font-size: 1.6rem;
                }

                &:after {
                    content: "";
                    display: block;
                    height: 0.2rem;
                    position: absolute;
                    right: 0;
                    left: 0;
                    transition: all 0.3s;
                }

                &:hover::after {
                    left: 1.8rem;
                    background-color: var(--color-accent-1);
                }
            }
        }

        &--buttons {
            display: flex;
            column-gap: 2rem;
        }
    }
}
