.advice {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 18%, rgba(255, 246, 215, 1) 100%);
    padding: 5rem 25rem;

    &__swiper {
        width: 50rem;
        height: max-content;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10rem;
    }

    &__caption {
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
    }

    &__cover {
        position: relative;

        &--dr {
            width: 35rem;
        }

        &--bg {
            width: 25rem;
            height: 50rem;
            position: absolute;
            left: 20rem;
        }
    }
}
