.colleagues {
    margin-top: 10rem;
    position: relative;

    &__cards {
        padding: 15rem 15rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 5rem;
    }
}
