.colleagues {
    margin-top: 10rem;
    position: relative;

    &__cards {
        padding: 10rem 25rem;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 2rem;
    }
}
