.courses {
    height: 50rem;
    background-color: var(--color-bg-primary);
    position: relative;
    margin-top: 35rem;

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: -50%;
        background-color: var(--color-bg-primary);
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
    }

    &__search {
        position: absolute;
        top: -55%;
        right: 50%;
        transform: translateX(50%);
        z-index: 100;
    }

    &__container {
        position: relative;
        z-index: 100;

        &--cards {
            display: flex;
            justify-content: center;
            align-items: center;

            &-list {
                display: grid;
                list-style: none;
                grid-template-columns: repeat(6, 1fr);
                gap: 2rem;
            }
        }
    }
}
