.courses {
    background-color: var(--color-bg-primary);

    &__title {
        padding: 0 35rem;
    }

    &__buttons {
        display: flex;
        justify-content: left;
        align-items: center;
        column-gap: 5rem;
        margin-right: auto;
        padding: 0 35rem;
    }

    &__cards {
        padding: 10rem 25rem;
    }

    &__container {
        padding: 0 25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &--cards {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 10rem;
        }
    }
}
