.searchSection {
    background-color: var(--color-bg-primary);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    &__search {
        position: absolute;
        width: 100%;
        padding: 0 30rem;
        top: -4rem;
        left: 50%;
        transform: translateX(-50%);

        @include responsive(mid-desk) {
            padding: 0 25rem;
        }

        @include responsive(tab-land) {
            padding: 0 15rem;
        }
    }

    &__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 35rem;
        margin-top: 10rem;
    }

    &__iconCards {
        margin-top: 10rem;
        padding: 0 25rem;
        text-align: center;

        @include responsive(big-desk) {
            padding: 0 20rem;
        }

        @include responsive(mid-desk) {
            padding: 0 15rem;
        }

        @include responsive(tab-land) {
            padding: 0 5rem;
        }

        &--list {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            column-gap: 3rem;
            row-gap: 3rem;

            @include responsive(mid-desk) {
                gap: 1.5rem;
            }

            @include responsive(tab-land) {
            }

            li {
                flex: 0 0 10rem;
            }
        }
    }
}
